// Specific CSS for your home-page
.index-hero {
  overflow: hidden;
  background: #4B4848;
  background-size: cover;
  background-image: url("http://res.cloudinary.com/dm1cxqdcn/image/upload/a_hflip/a_0/v1511368733/Toto_coq_wopyre.jpg");
  height: 750px;
  position: relative;
  padding-top: 220px;

  @media (max-width: 991px) {
    padding-top: 100px;
    height: 550px;
  }
}
