<div class="footer footer--light">
  <div class="container">
    <div class="row">
      <div class="col-md-3 menu">
        <h3>Overview</h3>
        <ul>
          <li>
            <a href="features.html">Produits</a>
          </li>
          <li>
            <a href="services.html">Services</a>
          </li>
          <li>
            <a href="pricing.html">Prix</a>
          </li>
          <li>
            <a href="blog.html">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 menu">
        <h3>Menu</h3>
        <ul>
          <li>
            <a href="features.html">A propos de nous</a>
          </li>
          <li>
            <a href="services.html">Contactez nous</a>
          </li>
<!--           <li>
            <a href="aboutus.html">Jobs</a>
            <a href="aboutus.html" class="hiring">
              We're hiring!
            </a>
          </li>
 -->      <li>
            <a href="support.html">Portfolio</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 menu">
        <h3>Social</h3>
        <ul>
          <li>
            <a href="features.html">Instagram</a>
          </li>
          <li>
            <a href="https://www.facebook.com/Volaillesdelourcq/" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="pricing.html">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 newsletter">
        <div class="signup clearfix">
          <p>
            Inscrivez vous à notre newsletter et soyez informer de nos dernières nouvelles, produits et ventes !
          </p>
          <form>
            <input type="text" name="email" class="form-control" placeholder="Your email address" />
            <input type="submit" value="Inscription" />
          </form>
        </div>
      </div>
    </div>
    <div class="credits">
      <p>Volailles de l'Ourcq © 2017.</p>
    </div>
  </div>
</div>
