<div class="index-hero">
  <div class="container">
    <h1 class="hero-text customFadeInDown">
      Bienvenue sur le site des volailles de l'Ourcq
    </h1>
    <p class="sub-text customFadeInDown">
      Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - React has a complete solution for you.
    </p>
    <div class="cta customFadeInDown">
      <a href="features.html" class="button-outline">Nos Produits</a>
      <a href="signup.html" class="btn-shadow btn-shadow-success btn-shadow-lg">Nos engagements</a>
    </div>
  </div>
</div>

<div class="features-section">
  <div class="container">
    <div class="header text-center">
      <h2>Artisan volailler</h2>
      <p class="mt-3">Venez dès à présent découvrir les différents produits.</p>
    </div>
    <div class="feature">
      <div class="row">
        <div class="col-md-6">
          <div class="info">
            <h4 class="mt-lg-5">Les volailles de l’Ourcq vous proposent toute l’année des produits d’exceptions : des volailles prêtes à cuire ainsi qu’à la découpe.</h4>
            <p>
              Whether you want to fill this paragraph with some text like I'm doing right now, this place
              is perfect to describe some features or anything you want - React has a complete solution for you.
            </p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <img src="theme/images/chicken1.jpeg" class="img-fluid" alt="feature1" />
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="feature">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <div class="info">
            <h4 class="mt-lg-4">Produits locaux à retrouver en magasin.</h4>
            <p>
              Bénéficiez de produits en direct de la ferme. Du producteur au consommateur.
            </p>
            <p>
              <!-- Write some text here to explain the features of your site or application, it -->
              <!-- has lots of uses. -->
            </p>
          </div>
        </div>
        <div class="col-md-6 order-md-1 text-center">
          <img src="http://res.cloudinary.com/dm1cxqdcn/image/upload/v1511368732/pintade_1_em07bw.jpg" class="img-fluid" alt="pintade" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pricing-dark-section">
  <div class="container">
    <div class="header text-center">
      <h3>Free trial. No contract. Cancel when you want.</h3>
      <p>All plans include a 7-day free trial</p>
    </div>

    <div class="charts">
      <div class="row">
        <div class="col-md-4">
          <div class="chart">
            <div class="quantity">
              <span class="dollar">$</span>
              <span class="price">29</span>
              <span class="period">/month</span>
            </div>
            <div class="plan-name">Freelance</div>
            <div class="specs">
              <div class="spec">
                <span class="variable">5</span>
                team members
              </div>
              <div class="spec">
                <span class="variable">Digital</span>
                recurring billing
              </div>
              <div class="spec">
                <span class="variable">Virtual</span>
                online terminal
              </div>
              <div class="spec">
                <span class="variable">10</span>
                total products
              </div>
              <div class="spec">
                <span class="variable">1.0%</span>
                Transaction fee
              </div>
            </div>
            <a class="btn-signup button-clear" href="signup.html">
              <span>Start free trial</span>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="chart chart--featured">
            <div class="popular">Most popular</div>
            <div class="quantity">
              <span class="dollar">$</span>
              <span class="price">79</span>
              <span class="period">/month</span>
            </div>
            <div class="plan-name">Profesional</div>
            <div class="specs">
              <div class="spec">
                <span class="variable">15</span>
                team members
              </div>
              <div class="spec">
                <span class="variable">Digital</span>
                recurring billing
              </div>
              <div class="spec">
                <span class="variable">Virtual</span>
                online terminal
              </div>
              <div class="spec">
                <span class="variable">15</span>
                total products
              </div>
              <div class="spec">
                <span class="variable">0.5%</span>
                Transaction fee
              </div>
            </div>
            <a class="btn-signup button-clear" href="signup.html">
              <span>Start free trial</span>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="chart">
            <div class="quantity">
              <span class="dollar">$</span>
              <span class="price">119</span>
              <span class="period">/month</span>
            </div>
            <div class="plan-name">Premium</div>
            <div class="specs">
              <div class="spec">
                <span class="variable">Unlimited</span>
                team members
              </div>
              <div class="spec">
                <span class="variable">Digital</span>
                recurring billing
              </div>
              <div class="spec">
                <span class="variable">Virtual</span>
                online terminal
              </div>
              <div class="spec">
                <span class="variable">25</span>
                total products
              </div>
              <div class="spec">
                <span class="variable">No</span>
                Transaction fee
              </div>
            </div>
            <a class="btn-signup button-clear" href="signup.html">
              <span>Start free trial</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="slider-section">
  <div class="container">
    <h3 class="header">Includes all pages that a complete theme should have</h3>

    <div class="slide-wrapper">
      <div class="slideshow">
        <div class="btn-nav prev"></div>
        <div class="btn-nav next"></div>
        <div class="slide active">
          <img src="theme/images/chicken1.jpeg" alt="slide3" />
        </div>
        <div class="slide">
          <img src="theme/images/chicken1.jpeg" alt="slide4" />
        </div>
        <div class="slide">
          <img src="theme/images/chicken1.jpeg" alt="slide1" />
        </div>
        <div class="slide">
          <img src="theme/images/chicken1.jpeg" alt="slide5" />
        </div>
        <div class="slide">
          <img src="theme/images/chicken1.jpeg" alt="slide2" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonials-section">
  <div class="container">
    <h3 class="header">
      Trusted by a lot businesses around the world:
    </h3>
    <div class="row">
      <div class="col-md-6">
        <div class="testimonial">
          <div class="quote">
            I am just quoting some stuff but I am seriously happy about this product. Has a lot of powerful
            features and is so easy to set up, I could stay customizing it day and night, it's just so much fun!
            <div class="arrow-down">
              <div class="arrow"></div>
              <div class="arrow-border"></div>
            </div>
          </div>
          <div class="author">
            <img src="theme/images/chicken2.jpeg" class="pic" alt="testimonial3" />
            <div class="name">John McClane</div>
            <div class="company">Microsoft</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial">
          <div class="quote">
            This thing is one of those tools that everybody should be using. I really like it and with this ease to use, you can kickstart your projects and apps and just focus on your business!
            <div class="arrow-down">
              <div class="arrow"></div>
              <div class="arrow-border"></div>
            </div>
          </div>
          <div class="author">
            <img src="theme/images/chicken1.jpeg" class="pic" alt="testimonial2" />
            <div class="name">Carl Jones</div>
            <div class="company">Pixar Co.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta-section">
  <p>
    Start your free 14 day trial!
  </p>
  <a href="signup.html">
    Sign up for free
  </a>
</div>

<div class="clients-section">
  <div class="container">
    <h3>Our Customers</h3>
    <p>
      These are some of our customers who have helped us by using our product.
    </p>
    <div class="logos">
      <img src="images/logos/google.png">
      <img src="images/logos/facebook.png">
      <img src="images/logos/apple.png">
      <img src="images/logos/stripe.png">
      <img src="images/logos/yahoo.png">
    </div>
  </div>
</div>
