<div class="portfolio-item-showcase">
  <div class="container">
    <div class="header">
      <h3 id="trigger" data-toggle="popover" data-placement="bottom" data-content="Click here!" data-trigger="manual">
        « See more projects
      </h3>
    </div>
    <div class="project">
      <h1>
        iOS Application Project
      </h1>

      <div class="row">
        <div class="col-md-8">
          <div class="description">
            <img src="images/portfolioitem1.png" class="img-fluid" alt="portfolio1" />

            <p>
              React has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go. Use new components that come included!
            </p>
            <p>
              React is an advanced theme solution for desktop, tablet, and mobile devices. It works in all browsers and your clients can pay instantly, to improve their experience at all times anywhere they go.
            </p>

            <img src="images/feature4.png" class="img-fluid" alt="portfolio4" />
            <img src="images/portfolioitem4.png" class="img-fluid" alt="portfolio2" />

            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </p>
            <p>
              Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - React has a complete solution for you.
            </p>

            <img src="images/portfolioitem2.png" class="img-fluid" alt="portfolio3" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="details">
            <div class="icons">
              <span class="ion-icon ion-social-android"></span>
              <span class="ion-icon ion-social-apple"></span>
              <span class="ion-icon ion-social-windows"></span>
            </div>
            <p>
              <strong>Client:</strong>
              Apple Inc.
            </p>
            <p>
              <strong>The problem:</strong>
              Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </p>
            <p>
              <strong>Services in project:</strong>
              Mobile, UI and Web design.
            </p>
            <p>
              <strong>Date span:</strong>
              October 2017 - February 2019
            </p>
            <a href="#" class="tweet-it">
              <span class="ion-social-twitter"></span> Share this project
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
