<div class="gallery-hero">
  <section class="container">
    <h1>
      Nos Produits
    </h1>
    <p>
      Toutes mes volailles sont élevées en plein air et nourries au grain provenant de la ferme familiale.
    </p>
    <p>
      Je donne leur donne également des graines de lin pour vous faire bénéficier d’une volaille riche en oméga 3.
    </p>
    <p>
      Nos produits sont garantis sans OGM.
    </p>
  </section>
</div>

<div class="gallery-portfolio">
  <div class="container no-override">
    <div class="row no-gutters">
      <div class="col-md-6 col-lg-4">
        <a href="/poulet" class="project">
          <span class="mask">
            <span class="info">
              <h3>Poulet</h3>
              <p>
                8,90€/Kg
              </p>
            </span>
            <span class="btn-see-project">
              Voir le produit
            </span>
          </span>
          <span style="background-image:url('http://res.cloudinary.com/dm1cxqdcn/image/upload/v1511368732/poulet_Cou_nu_fjjrdx.jpg');" class="pic">
          </span>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="portfolio-item.html" class="project">
          <span class="mask">
            <span class="info">
              <h3>Pintade</h3>
              <p>
                10,70€/Kg
              </p>
            </span>
            <span class="btn-see-project">
              Voir le produit
            </span>
          </span>
          <span style="background-image:url('http://res.cloudinary.com/dm1cxqdcn/image/upload/v1511368732/pintade_1_em07bw.jpg');" class="pic">
          </span>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="portfolio-item.html" class="project">
          <span class="mask">
            <span class="info">
              <h3>Dinde Rouge des Ardennes</h3>
              <p>
                14,50€/Kg
              </p>
            </span>
            <span class="btn-see-project">
              Voir le produit
            </span>
          </span>
          <span style="background-image:url('http://res.cloudinary.com/dm1cxqdcn/image/upload/v1511368731/dinde_k0repo.jpg');" class="pic">
          </span>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="portfolio-item.html" class="project">
          <span class="mask">
            <span class="info">
              <h3>Oeufs frais</h3>
              <p>
                3€ la douzaine
              </p>
            </span>
            <span class="btn-see-project">
              Voir le produit
            </span>
          </span>
          <span style="background-image:url('http://res.cloudinary.com/dm1cxqdcn/image/upload/v1511368732/Oeufs_fvvj73.jpg');" class="pic">
          </span>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="portfolio-item.html" class="project">
          <span class="mask">
            <span class="info">
              <h3>Chapons</h3>
              <p>
                15,10€/Kg
              </p>
            </span>
            <span class="btn-see-project">
              Voir le produit
            </span>
          </span>
          <span style="background-image:url('http://res.cloudinary.com/dm1cxqdcn/image/upload/v1511368732/Oeufs_fvvj73.jpg');" class="pic">
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="gallery-cta">
  <div class="container">
    <h3>
      Want to work with us?
    </h3>
    <p>
      Have an idea for an awesome project?
      We'd love <br> to help make it real.
      <a href="agency-contact.html">Get in touch</a>
    </p>
  </div>
</div>
